#content .container{
	box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
    margin: 5px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  10px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { border-radius: 5px; padding-left:  30px; }
.right-addon input { border-radius: 5px; padding-right: 30px; }


.navbar {
	border-radius: 0px;
}

.navbar-inverse-advanced {
  background-color: #000000;
}
.navbar-inverse-advanced .navbar-brand {
  color: #ffffff;
}
.navbar-inverse-advanced .navbar-brand:hover,
.navbar-inverse-advanced .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse-advanced .navbar-text {
  color: #999;
}
.navbar-inverse-advanced .navbar-nav > li > a {
  color: #999;
}
.navbar-inverse-advanced .navbar-nav > li > a:hover,
.navbar-inverse-advanced .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse-advanced .navbar-nav > .active > a,
.navbar-inverse-advanced .navbar-nav > .active > a:hover,
.navbar-inverse-advanced .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse-advanced .navbar-nav > .disabled > a,
.navbar-inverse-advanced .navbar-nav > .disabled > a:hover,
.navbar-inverse-advanced .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse-advanced .navbar-toggle {
  border-color: #333;
}
.navbar-inverse-advanced .navbar-toggle:hover,
.navbar-inverse-advanced .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse-advanced .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse-advanced .navbar-collapse,
.navbar-inverse-advanced .navbar-form {
  border-color: #101010;
}
.navbar-inverse-advanced .navbar-nav > .open > a,
.navbar-inverse-advanced .navbar-nav > .open > a:hover,
.navbar-inverse-advanced .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse-advanced .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse-advanced .navbar-link {
  color: #999;
}
.navbar-inverse-advanced .navbar-link:hover {
  color: #fff;
}


#footer {
	margin-top: 30px;
	padding: 30px 0px 30px 0px;
}